/* Root Styles */
:root {
    --main-bg-color: #e6e6e8;
    --primary-color: #111a70;
    --accent-color: #eb2b2b;
    --primary-font-family: "DM Sans", sans-serif;
}

/* General Styles */
body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--main-bg-color);
    margin: auto;

}

.nav-link {
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    font-family: var(--primary-font-family);
}

.logo {
    width: 250px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 40px;
}

.carousel-caption {
    color: var(--accent-color);
    font-size: 40px;
}

.hero {
    width: 100%;
}

.border-form {
    border: var(--accent-color) solid 2px;
    border-radius: 10px;
    ;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

.btn {
    background-color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background-color: var(--primary-color);
}

.logo-dark {
    width: 250px;
}

h4 {
    color: var(--accent-color);
}

.footer {
    color: var(--main-bg-color);
}

.footer a {
    color: var(--main-bg-color);
    text-decoration: underline;
}

.service-image {
    max-width: 300px;
    ;
}

.button-div {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
}

.button {
    border: none;
    border-radius: 40px;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: bold;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#tabs {
    width: 100%;
}